.register{
  text-align: center;
  margin-top: 60px;
}
.input{
  margin-left: 60px;
 padding:5px 10px;
 margin-top: 5px;
}
.label{
  margin-right: 65px;
  font-size: 13px;
  font-weight: bold;
}
.form{
  background-color:hsl(182, 25%, 50%);
  width:650px;
  justify-content: center;
  margin-left: 500px;
}
